@charset "UTF-8";

h1 {
    width: max-content;
    margin: auto;
    padding: 10px;
    font: normal bolder 2em Arial;
}

#start {
    width: max-content;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font: normal normal 1.2em Arial;
}